*{
    margin: 0%;
    box-sizing: border-box
/* }
div{
    color: white;
    font-size: 60px;
    justify-content: center;
    text-align: center;
    padding: 25px 60px;
    background-color: #00aced;
    font-family: 'helvetica';
}
.grand{
  font-size: 10px;
  padding: 239px;
     background: linear-gradient(#00aced, blue);
   } */
