*{
    margin: 0%;
    box-sizing: border-box
 }
.text{
    color: white;
    font-size: 60px;
    justify-content: center;
    text-align: center;
    padding: 25px 60px;
    background-color: #00aced;
    font-family: 'helvetica';
}
.container{
  font-size: 20px;
  padding: 259px;
  color: white;
  font-family: 'helvetica';
  background: linear-gradient(#00aced, blue);
   }
